@using FluentBootstrap

@{
    Page.Title = "Development";
    Layout = "_Layout.cshtml";
}

@Html.Bootstrap(this).PageHeader("Development")

<p>FluentBootstrap is a complex library with <em>a lot</em> of generics. It's certainly not the cleanest code, but it gets the job done. In the near future, some guidelines for developing external extensions as well as for developing inside FluentBootstrap will be provided here.</p>